.controlPanel {
	display: flex;
	flex-direction: column;
	// justify-content: space-between;
	justify-items: start;
	margin-top: 100px;
	gap: 15px;
}
.backBtn {
	padding: 10px;
	// background-color: #393433;
	border: 2px solid #9f9f9f;
	border-radius: 10px;
	color: #393433;
}
.todo {
	background-color: #f3efee;
	padding: 16px;
	border-radius: 10px;
}
