.checkbox {
	display: inline-block;
	margin-right: 1em;
	cursor: pointer;
}
.checkboxInput {
	display: none;
	&:checked + .checkboxFake {
		background-color: #393433;
		border: 2px solid #393433;

		color: white;
	}
}
.checkboxFake {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	border: 2px solid #9f9f9f;
	border-radius: 6px;
	transition: 0.25s;
	color: transparent;
}
