:global .container {
	max-width: 1050px;
	margin: 0 auto;
	padding: 50px 15px 0;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 50px);
}

:global .loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25px;
	height: 25px;
	border: 5px solid gray;
	border-radius: 50%;
	border-left-color: transparent;
	animation: loader 1s infinite;
}
:global .link {
	color: #bfaf03;
	padding: 15px;
	font-weight: bold;
	font-size: 24px;
}

@keyframes loader {
	100% {
		transform: rotate(0deg);
	}
	0% {
		transform: rotate(360deg);
	}
}
